@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
    font-family: 'Indie Flower', sans-serif;
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
    color: #333;
    text-align: center;
    
    
}

@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

#fetch-poem {
    font-family: 'Indie Flower', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: auto;
    background-color: rgb(255, 255, 241);
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: fadeIn 1s ease-in-out;
}

#fetch-poem:hover {
    color: #363636;
    background-color: rgb(223, 243, 255);
}

button {
    font-family: 'Indie Flower', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
}




#poem {
    font-family: 'Indie Flower', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: left;
    margin-left: 55px;
    line-height: 35px;
    animation: fadeIn 1s ease-in-out;
}

#favorites {
    margin-top: 20px;
    font-family: 'Indie Flower', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
}

#favorites-h2 { 
    opacity: 0;
    display: none;
}

#favorite-list {
    display: none;
    list-style-type: none;
    width: fit-content;
    text-align: left;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}

#favorite-list li {
    background-color: #ffffff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 0.8rem;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#favorite-list button {
  border-radius: 50px;
  background-color: rgb(255, 255, 241);
  border: none;
  font-weight: 600;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#favorite-list button:hover {
  border-radius: 50px;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  color: #636363;
}


#save-favorite {
    margin-left: auto;
    margin-right: auto; 
    border: none;
    background-color: rgb(255, 255, 241);
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#save-favorite:hover {
    color: #565656;
    background-color: rgb(223, 243, 255);
}

#toggle-favorites {
    border: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#toggle-favorites:hover {
    color: #565656;
    background-color: rgb(223, 243, 255);
}

pre {
    font-family: 'Indie Flower', sans-serif;
    max-width: fit-content;
    text-wrap: wrap;
    animation: fadeIn 0.7s ease-in-out;
}

  .paper {
    position: absolute;
    height: 550px;
    width: 450px;
    background: rgba(255,255,255,0.9);
    margin: -265px -225px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
  }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.193) 0px, rgba(255, 255, 255, 0.166) 24px, rgba(70, 131, 180, 0.199) 25px);
  }
  .text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: hidden;
    outline: none;
  }
  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }